#agendaDetails_bg{
    background: url("../img/huanghelou.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.agendaDetails_header_box{
    height: 150px;
}
.agendaDetails_header_bottom{
    background: #000;
    opacity: 0.6;
}
.agendaDetails_correlation,.agendaDetails_copy{
    display: inline-block;
    text-align: center;
    height: 1.4em;
    line-height: 1.4em;
    width: 6em;
    border: 1px solid #ffffff;
    border-radius: 8px;
}
.agendaDetails_green{
    display: inline-block;
    height: 2em;
    line-height: 2em;
    background: forestgreen;
    width: 20%;
    text-align: center;
}
.agendaDetails_gray{
    color: #ffffff;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    background: lightgray;
    width: 80%;
    text-indent: 2em;
}
.agendaDetails_fix{
    width: 20%;
}
#bottom{
    width: 100%;
    position: fixed;
    z-index: 999;
    bottom: 0;
    height: 4em;
    line-height: 4em;
    text-align: center;
    color: mediumvioletred;
    background: #ffffff;
    border-top: 1px solid lightgray;
    outline-style: none;
}

.standard{
    padding: 20px;
}

#showAddAgenda_iconContainer{
    height: 30px;
}
.showAddAgenda_icon{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.showAddAgenda_icon:hover{
    background: #2aabd2;
}
.fa-cutlery{
    color: #969afa;
}
.fa-building{
    color: #5aa5f6;
}
.fa-cab{
    color: #fcda40;
}
.fa-tachometer{
    color: #94cd3c;
}
.fa-shopping-cart{
    color: #5ca7fa;
}
.fa-delicious{
    color: mediumvioletred;
}
.showAddAgenda_input{
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}